.connect-four-cell {
  border-color: $black;
  border-style: dotted;
  display: table-cell;
}

.circle {
  background: #4679BD;
  border-radius: 50%;
  display: inline-block;
  height: 0;
  padding-bottom: 50%;
  width: 50%;
}
