// Ensure container containing table takes up entire view possible
.connect-four-board {
  background-color: $yellow;
  border-style: solid;
}

.connect-four-row {
  border-color: $red;
  border-style: dashed;
  box-sizing: border-box;
  display: table;
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100%;
}
