@import '../styles/core';
@import 'connectFourBoard';
@import 'connectFourCell';
@import 'connectFourControls';

.player-one {
  background: $black;
  pointer-events: none;
}

.player-two {
  background: $red;
  pointer-events: none;
}
